.contact {
  display: grid;
  place-items: center;
  background-color: #193328;
  margin-top: 50px;
  border-top: 2px solid yellowgreen;
}

.contact > h3 {
  text-decoration: underline;
}
.contact_textarea {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 400px;
  height: 200px;
  outline-color: yellowgreen;
}

.contact_textarea > button {
  margin-top: 2px;
  margin-bottom: 8px;
}

.contact__primary > h3 {
  color: white;
  border-bottom: 1px solid yellowgreen;
}
.contact__primary > h4 {
  color: white;
  border-bottom: 1px solid yellowgreen;
}

.success_msg {
  color: yellowgreen;
  text-align: center;
}

@media screen and(max-width:400) {
  .contact_textarea > textarea {
    max-width: 300px;
  }
}
