.education {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #193328;
}
.education > h3 {
  text-decoration: underline;
}

.education__school > h4 {
  color: white;
}

.education__school {
  border: 1px solid yellowgreen;
}

ul {
  color: white;
}

@media screen and(max-width:380) {
}
