html {
  height: 100%;
}

@media screen and(min-width:550px) {
  .side_drawer {
    display: none;
  }
}

.side_drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side_drawer.open {
  transform: translateX(0);
}

li > button {
  background: white;
  color: white;
}

.side_drawer ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.side_drawer li {
  margin: 0.5rem 0;
}

@media screen and(min-width:550px) {
  .side_drawer {
    display: none;
  }
}
