.app {
  background-color: rgb(32, 59, 44);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #193328; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid yellowgreen; /* creates padding around scroll thumb */
}
